$def with (user_info)


<div class="container">
    <div class="row">
        <ul class="sidebar">
            <li><a href="/"><span class="mdi mdi-home"></span>Home Feed</a></li>
            <li><a href="/profile/$session['user']['username']"><span class="mdi mdi-account-circle"></span>Profile</a></li>
        </ul>
        <div class="col-md-12">
            <div class="profile-header">
                <div class="background-image" style="background:url('');">
                    <div class="avatar">
                        <img src="/static/img/angie.jpg" class="profile-avatar" />
                        <h2 class="profile-name">$user_info['name']</h2>
                        <span class="profile-headline">Lv. B</span>
                    </div>
                </div>
                <div class="profile-nav">
                    <ul class="nav navbar-nav navbar-center">
                        <li><a href="/profile/angie">Activity</a></li>
                        <li><a href="/profile/angie/info">Info</a></li>
                        <li><a href="/profile/angie/code">Code</a></li>
                        <li><a href="/profile/angie/contact">Contact</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>




<div class="post-card extra-padding">
    <form id="settings-form">
        <h2 class="post-title">Basic Info</h2>
        <span class="post-subtitle">Name</span>
        <p><input name="name" class="form-control no-border" value="$session['user']['name']" /></p>
        <span class="post-subtitle">About</span>
        <p><input name="about" class="form-control no-border">$session['user']['about']</p>
        <span class="post-subtitle">Hobbies</span>
        <p><input name="hobbies" class="form-control no-border" value="$session['user']['hobbies']" /></p>
        <span class="post-subtitle">Birthday</span>
        <p><input name="birthday" class="form-control no-border" value="$session['user']['birthday']6" /></p>
        <button type="submit" class="btn btn-info btn-raised">Save</button>
    </form>
</div>

<div class="post-card extra-padding">
    <h2 class="post-title">Professional</h2>
    <span class="post-subtitle">Suborbital Rocket<i>2019 - 2020</i></span>
    <p>I develop embedded systems.</p>
    <span class="post-subtitle">The Airplane Company<i>2012 - 2017</i></span>
    <p>I make airplanes.</p>

</div>
